<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon"/>
         <!-- LIBRERY -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <title>Digistic</title>
        <!-- CSS -->
        <link rel="stylesheet" href="../style/blog.css">
        <!-- JS -->
        <script src="../js/index.js"></script>
    </head>

    <body>
        <!-- Container -->
        <div class="container">
            <!-- Header -->
            <header>
                <img src="../assets/img/logo.png" alt="logo">
                <nav>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="index.html">About us</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <li>
                            <a href="#">Blog listing</a>
                        </li>
                        <li>
                            <a href="#">Blog details</a>
                        </li>
                        <li>
                            <a href="#">Privacy policy</a>
                        </li>
                    </ul>
                </nav>
                <div class="networks-header">
                    <box-icon name='youtube' type='logo' color='#fe6666' ></box-icon>
                    <box-icon name='twitter' type='logo' color='#fe6666' ></box-icon>
                </div>
            </header>
            <!-- Content - Main -->
            <div class="main">
                <!-- Section 1 -->
                <section class="section1">
                    <div class="about">
                        <h1>About us</h1>
                        <p>Home/about</p>
                    </div>
                </section>
                <!-- Section 2 -->
                <section class="section2">
                    <div class="container-blog">
                        <main class="main-blog">
                            <div class="description-blog-1">
                                <div class="img-blog-1">
                                    <figure>
                                        <img src="../assets/img/blog-1.png" alt="">
                                    </figure>
                                </div>
                                <div class="icons-blog">
                                    <div class="icon-blog">
                                        <img src="../assets/img/calender-icon.png" alt="calender-icon">
                                        <p>
                                            January 10, 2025
                                        </p>
                                    </div>
                                    <div class="icon-blog">
                                        <img class="user-blog" src="../assets/img/user-icon.png" alt="user-icon">
                                        <p>
                                            By Luis David
                                        </p>
                                    </div>
                                    <div class="icon-blog">
                                        <img src="../assets/img/message-icon.png" alt="message-icon">
                                        <p>
                                            12
                                        </p>
                                    </div>
                                </div>
                                <div class="collections">
                                    <h1>Top New Awesome NFT Collections for you.</h1>
                                    <P>
                                        Donec efficitur vel risus vel pharetra. Mauris consequat vitae <br>augue vitae porttitor. Nam viverra imperdiet libero at faucibus.
                                    </P>
                                    <P>
                                        Nam nisi neque, ultricies ut erat in, dictum hendrerit augue. <br>Suspendisse potenti. Proin purus massa, vestibulum non <br>turpis dignissi.
                                    </P>
                                    <button>More</button>
                                </div>
                            </div>
                            <div class="description-blog-2">
                                <div class="img-blog-2">
                                    <figure>
                                        <img src="../assets/img/blog-2.png" alt="blog-2">
                                    </figure>
                                </div>
                                <div class="icons-blog">
                                    <div class="icon-blog">
                                        <img src="../assets/img/calender-icon.png" alt="calender-icon">
                                        <p>
                                            January 10, 2025
                                        </p>
                                    </div>
                                    <div class="icon-blog">
                                        <img class="user-blog" src="../assets/img/user-icon.png" alt="user-icon">
                                        <p>
                                            By Luis David
                                        </p>
                                    </div>
                                    <div class="icon-blog">
                                        <img src="../assets/img/message-icon.png" alt="message-icon">
                                        <p>
                                            12
                                        </p>
                                    </div>
                                </div>
                                <div class="collections">
                                    <h1>The Great Collections of Future NFTs</h1>
                                    <P>
                                        Donec efficitur vel risus vel pharetra. Mauris consequat vitae <br>augue vitae porttitor. Nam viverra imperdiet libero at faucibus.
                                    </P>
                                    <P>
                                        Nam nisi neque, ultricies ut erat in, dictum hendrerit augue. <br>Suspendisse potenti. Proin purus massa, vestibulum non <br>turpis dignissi.
                                    </P>
                                    <button>More</button>
                                </div>
                            </div>
                            <div class="buttons-page">
                                <div class="next-page">
                                    <button><</button>
                                    <button>1</button>
                                    <button>2</button>
                                    <button>3</button>
                                    <button>4</button>
                                    <button>5</button>
                                    <button>></button>
                                </div>
                            </div>
                        </main>
                        <aside class="aside">
                            <div class="container-search">
                                <div class="search">
                                    <input type="text" name="text" placeholder="Search" id="search">
                                    <img src="../assets/img/search-icon.png" alt="search-icon">
                                </div>
                                <div class="categories">
                                    <h4>Categories</h4>
                                    <ul>
                                        <li>General</li>
                                        <li>NFT Update</li>
                                        <li>NFT Market</li>
                                        <li>Platform Update</li>
                                    </ul>
                                </div>
                                <div class="recent-post">
                                    <div class="post">
                                        <div class="img-post">
                                            <img src="../assets/img/blog-post.png" alt="post">
                                        </div>
                                        <div class="description-post">
                                            <a href="#">
                                                Top New Awesome NFTs collection for you.
                                            </a>
                                            <p>
                                                January 29, 2025
                                            </p>
                                        </div>
                                    </div>
                                    <div class="post">
                                        <div class="img-post">
                                            <img src="../assets/img/blog-post1.png" alt="post-1">
                                        </div>
                                        <div class="description-post">
                                            <a href="#">
                                                The Great Collections of Future NFTs
                                            </a>
                                            <p>
                                                January 29, 2025
                                            </p>
                                        </div>
                                    </div>
                                    <div class="post">
                                        <div class="img-post">
                                            <img src="../assets/img/blog-post2.png" alt="post-2">
                                        </div>
                                        <div class="description-post">
                                            <a href="#">
                                                Top New Awesome NFTs collection for you.
                                            </a>
                                            <p>
                                                January 29, 2025
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-tags">
                                    <h4>Tags</h4>
                                    <div class="tags">
                                        <a href="#">3D</a>
                                        <a href="#">Nft</a>
                                        <a href="#">Digital</a>
                                        <a href="#">Crypto</a>
                                        <a href="#">Arts</a>
                                        <a href="#">Bid</a>
                                        <a href="#">Technology</a>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            </div>
        </div>
        
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <!-- ScrollReveal  -->
        <script src="https://unpkg.com/scrollreveal"></script>
    </body>
</html>