<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon"/>
         <!-- LIBRERY -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <title>Digistic</title>
        <!-- CSS -->
        <link rel="stylesheet" href="../style/contact.css">
        <!-- JS -->
        <script src="../js/index.js"></script>
    </head>

    <body>
        <!-- Container -->
        <div class="container">
            <!-- Header -->
            <header>
                <img src="../assets/img/logo.png" alt="logo">
                <nav>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="index.html">About us</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <li>
                            <a href="#">Blog listing</a>
                        </li>
                        <li>
                            <a href="#">Blog details</a>
                        </li>
                        <li>
                            <a href="#">Privacy policy</a>
                        </li>
                    </ul>
                </nav>
                <div class="networks-header">
                    <box-icon name='youtube' type='logo' color='#fe6666' ></box-icon>
                    <box-icon name='twitter' type='logo' color='#fe6666' ></box-icon>
                </div>
            </header>
            <!-- Content - Main -->
            <div class="main">
                <!-- Section 1 -->
                <section class="section1">
                    <div class="about">
                        <h1>About us</h1>
                        <p>Home/about</p>
                    </div>
                </section>
                <!-- Section 2 -->
                <section class="section2">
                    <div class="container-content">
                        <div class="container-content-1">
                            <div class="description-form">
                                <h1>Sayo hello!</h1>
                                <p>
                                    Donec efficitur vel risus vel pharetra. Mauris consequat vitae augue vitae porttitor. Nam viverra imperdiet libero at faucibus.
                                </p>
                            </div>
                            <div class="container-form">
                                <form action="#">
                                    <div class="inputs">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" placeholder="Enter name" id="name">
                                    </div>
                                    <div class="inputs">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" placeholder="Enter email" id="email">
                                    </div>
                                    <div class="inputs textarea">
                                        <label for="message">Message</label>
                                        <textarea type="text" name="message" id="message" rows="7" placeholder="Enter message"></textarea>
                                    </div>
                                    <button type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="container-content-2">
                            <div class="description-info">
                                <div class="call cards-info">
                                    <img src="../assets/img/user.png" alt="user">
                                    <span>Call us now</span>
                                    <a href="#">+ 1 200 344 55 66</a>
                                </div>
                                <div class="email-contact cards-info">
                                    <img src="../assets/img/email.png" alt="email">
                                    <span>Email</span>
                                    <a href="#">contact@digisticsite.com</a>
                                </div>
                                <div class="address cards-info">
                                    <img src="../assets/img/location.png" alt="location">
                                    <span>Address</span>
                                    <a href="#">123 Street, Landmark <br>Tower, <br>Suite-43, NewYork, USA.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Community -->
                <div class="container-community">
                    <img class="community-1" src="../assets/img/commu.png" alt="commu">
                    <img class="community-2" src="../assets/img/commu-1.png" alt="commu-1">
                    <img class="community-3" src="../assets/img/commu-2.png" alt="commu-2">
                    <h1>Join our community</h1>
                    <p>
                        Etiam id dui luctus, rhoncus mi eget, ultrices orci <br>Fusce ut aliquet purus. In laoreet ni
                    </p>
                    <div class="buttons">
                        <a class="button-1" href="#">Join now</a>
                        <a class="button-2" href="#">Connect wallet</a>
                    </div>
                </div>
                <!-- Community -->
                <footer>
                    <div class="container-footer">
                        <div class="li">
                            <h4>Company</h4>
                            <ul>
                                <li>
                                    <a href="#">About company</a>
                                </li>
                                <li>
                                    <a href="#">Roadmap</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                                <li>
                                    <a href="#">FAQs</a>
                                </li>
                            </ul>
                        </div>
                        <div class="li">
                            <h4>Community</h4>
                            <ul>
                                <li>
                                    <a href="#">Designer</a>
                                </li>
                                <li>
                                    <a href="#">Artist</a>
                                </li>
                                <li>
                                    <a href="#">Investor</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                            </ul>
                        </div>
                        <div class="li">
                            <h4>Features</h4>
                            <ul>
                                <li>
                                    <a href="#">Activity</a>
                                </li>
                                <li>
                                    <a href="#">Connect wallet</a>
                                </li>
                                <li>
                                    <a href="#">Marketplace</a>
                                </li>
                                <li>
                                    <a href="#">Collection</a>
                                </li>
                                <li>
                                    <a href="#">Live auctions</a>
                                </li>
                            </ul>
                        </div>
                        <div class="li">
                            <h4>Legal</h4>
                            <ul>
                                <li>
                                    <a href="#">Terms of Use</a>
                                </li>
                                <li>
                                    <a href="#">Privacy policy</a>
                                </li>
                                <li>
                                    <a href="#">Legal notice</a>
                                </li>
                                <li>
                                    <a href="#">Security policy</a>
                                </li>
                                <li>
                                    <a href="#">Cookie settings</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="copy">
                        <div class="description-copy">
                            <img src="../assets/img/logo-footer.png" alt="logo-footer">
                            <p>
                                © Copyright 2025 Digistic | Design by Luis David Gil All rights reserved.
                            </p>
                        </div>
                        <div class="network-footer">
                            <a href="#">
                                <box-icon name='twitter' type='logo' color='#7c7e83' ></box-icon>
                            </a>
                            <a href="#">
                                <box-icon name='facebook' type='logo' color='#7c7e83' ></box-icon>
                            </a>
                            <a href="#">
                                <box-icon name='linkedin' type='logo' color='#7c7e83' ></box-icon>
                            </a>
                            <a href="#">
                                <box-icon name='youtube' type='logo' color='#7c7e83' ></box-icon>
                            </a>
                        </div>
                    </div>
                 </footer> 
            </div>
        </div>
        
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <!-- ScrollReveal  -->
        <script src="https://unpkg.com/scrollreveal"></script>
    </body>
</html>