<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon"/>
         <!-- LIBRERY -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <title>Digistic</title>
        <!-- CSS -->
        <link rel="stylesheet" href="../style/details.css">
        <!-- JS -->
        <script src="../js/index.js"></script>
    </head>

    <body>
        <!-- Container -->
        <div class="container">
            <!-- Header -->
            <header>
                <img src="../assets/img/logo.png" alt="logo">
                <nav>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="index.html">About us</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <li>
                            <a href="blog.html">Blog listing</a>
                        </li>
                        <li>
                            <a href="details.html">Blog details</a>
                        </li>
                        <li>
                            <a href="#">Privacy policy</a>
                        </li>
                    </ul>
                </nav>
                <div class="networks-header">
                    <box-icon name='youtube' type='logo' color='#fe6666' ></box-icon>
                    <box-icon name='twitter' type='logo' color='#fe6666' ></box-icon>
                </div>
            </header>
            <!-- Content - Main -->
            <div class="main">
                <!-- Section 1 -->
                <section class="section1">
                    <div class="about">
                        <h1>Blog details</h1>
                        <p>Home/ Blog details</p>
                    </div>
                </section>
                <!-- Section 2 -->
                <section class="section2">
                    <div class="container-blog">
                        <main class="main-blog">
                            <div class="description-blog-1">
                                <div class="img-blog-1">
                                    <figure>
                                        <img src="../assets/img/blog-1.png" alt="">
                                    </figure>
                                </div>
                                <div class="icons-blog">
                                    <div class="icon-blog">
                                        <img src="../assets/img/calender-icon.png" alt="calender-icon">
                                        <p>
                                            January 10, 2025
                                        </p>
                                    </div>
                                    <div class="icon-blog">
                                        <img class="user-blog" src="../assets/img/user-icon.png" alt="user-icon">
                                        <p>
                                            By Luis David
                                        </p>
                                    </div>
                                    <div class="icon-blog">
                                        <img src="../assets/img/message-icon.png" alt="message-icon">
                                        <p>
                                            12
                                        </p>
                                    </div>
                                </div>
                                <div class="collections">
                                    <h1>Top New Awesome NFT Collections for you.</h1>
                                    <P>
                                        Donec efficitur vel risus vel pharetra. Mauris consequat vitae <br>augue vitae porttitor. Nam viverra imperdiet libero at faucibus.
                                    </P>
                                    <P>
                                        Nam nisi neque, ultricies ut erat in, dictum hendrerit augue. <br>Suspendisse potenti. Proin purus massa, vestibulum non <br>turpis dignissi.
                                    </P>
                                    <p>
                                        Integer quam justo, convallis et lorem congue, maximus malesuada lorem. Aliquam scelerisque massa turpis, ac finibus lorem luctus eget. Donec ac facilisis massa, sagittis luctus leo. Aenean condimentum mi et lorem faucibus pulvinar. Donec purus ex, finibus vitae dictum a, luctus id velit. Aliquam tincidunt suscipit nisl, ac dictum elit ultricies in. Maecenas sed nibh id nisi blandit varius. Nunc et mi eu enim tempus suscipit vulputate volutpat lectus. Nunc imperdiet, justo ut viverra sodales, metus risus rutrum magna, eu iaculis nulla ipsum vel ex. Phasellus dolor ipsum, luctus ut arcu ut, tristique dignissim leo. Aliquam egestas tortor at ipsum venenatis pellentesque. Fusce ornare gravida dictum.
                                    </p>
                                    <span>
                                        ctus id velit. Aliquam tincidunt suscipit nisl, ac dictum elit ultricies in. Maecenas sed nibh id nisi blandit varius. Nunc et mi eu enim tempus suscipit vulputate volutpat lectus. Nunc imperdiet, justo ut viverra sodales, metus risus rutrum magna, eu iaculis nulla ipsu
                                    </span>
                                    <p>
                                        uscipit nisl, ac dictum elit ultricies in. Maecenas sed nibh id nisi blandit varius. Nunc et mi eu enim tempus suscipit vulputate volutpat lectus. Nunc imperdiet, justo ut viverra sodales, metus risus rutrum magna, eu iaculis nulla ipsum vel ex. Phasellus dolor ipsum, luctus ut arcu ut, tristique dignissim leo. Aliquam egestas tortor at ipsum venenatis pellentesque. Fusce ornare gravida dictum.
                                    </p>
                                </div>
                                <div class="comments">
                                    <h4>Comments</h4>
                                    <div class="comment">
                                        <div class="img-comment">
                                            <figure>
                                                <img src="../assets//img/blog-user.png" alt="blog-user">
                                            </figure>
                                        </div>
                                        <div class="description-comment">
                                            <p>
                                                Vulputate volutpat lectus. Nunc imperdiet, justo ut viverra sodales, metus risus rutrum magna, eu iaculis nulla ipsum vel ex. Phasellus dolor ipsum, luctus ut arcu ut, tristique dignissim leo.
                                            </p>
                                            <div class="info-comment">
                                                <a href="#">John Smith</a>
                                                <div class="date">
                                                    <p>
                                                        October 12, 2022, 10:35 PM
                                                    </p>
                                                    <a href="#">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment">
                                        <div class="img-comment">
                                            <figure>
                                                <img src="../assets/img/blog-user2.png" alt="blog-user2">
                                            </figure>
                                        </div>
                                        <div class="description-comment">
                                            <p>
                                                Vulputate volutpat lectus. Nunc imperdiet, justo ut viverra sodales, metus risus rutrum magna, eu iaculis nulla ipsum vel ex. Phasellus dolor ipsum, luctus ut arcu ut, tristique dignissim leo.
                                            </p>
                                            <div class="info-comment">
                                                <a href="#">John Smith</a>
                                                <div class="date">
                                                    <p>
                                                        October 12, 2022, 10:35 PM
                                                    </p>
                                                    <a href="#">Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                        <!-- Aside -->
                        <aside class="aside">
                            <div class="container-search">
                                <div class="search">
                                    <input type="text" name="text" placeholder="Search" id="search">
                                    <img src="../assets/img/search-icon.png" alt="search-icon">
                                </div>
                            </div>
                            <div class="categories">
                                <h4>Categories</h4>
                                <ul>
                                    <li>General</li>
                                    <li class="mor">NFT Update</li>
                                    <li>NFT Market</li>
                                    <li>Platform Update</li>
                                </ul>
                            </div>
                            <div class="recent-post">
                                <h4>Recent post</h4>
                                <div class="post">
                                    <div class="img-post">
                                        <img src="../assets/img/blog-post.png" alt="post">
                                    </div>
                                    <div class="description-post">
                                        <a href="#">
                                            Top New Awesome NFTs collection for you.
                                        </a>
                                        <p>
                                            January 29, 2025
                                        </p>
                                    </div>
                                </div>
                                <div class="post">
                                    <div class="img-post">
                                        <img src="../assets/img/blog-post1.png" alt="post-1">
                                    </div>
                                    <div class="description-post">
                                        <a href="#">
                                            The Great Collections of Future NFTs
                                        </a>
                                        <p>
                                            January 29, 2025
                                        </p>
                                    </div>
                                </div>
                                <div class="post">
                                    <div class="img-post">
                                        <img src="../assets/img/blog-post2.png" alt="post-2">
                                    </div>
                                    <div class="description-post">
                                        <a href="#">
                                            Top New Awesome NFTs collection for you.
                                        </a>
                                        <p>
                                            January 29, 2025
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="container-tags">
                                <h4>Tags</h4>
                                <div class="tags">
                                    <a class="tag-active" href="#">3D</a>
                                    <a href="#">Nft</a>
                                    <a href="#">Digital</a>
                                    <a href="#">Crypto</a>
                                    <a href="#">Arts</a>
                                    <a href="#">Bid</a>
                                    <a href="#">Technology</a>
                                </div>
                            </div>
                        </aside>
                    </div>
                </section>
            </div>
        </div>
        
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <!-- ScrollReveal  -->
        <script src="https://unpkg.com/scrollreveal"></script>
    </body>
</html>