<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon"/>
         <!-- LIBRERY -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
        <title>Digistic</title>
        <!-- CSS -->
        <link rel="stylesheet" href="../style/style.css">
        <!-- JS -->
        <script src="../js/index.js"></script>
    </head>

    <body>
        <!-- Container -->
        <div class="container">
            <!-- Header -->
            <header>
                <img src="../assets/img/logo.png" alt="logo">
                <nav>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">Blog listing</a>
                        </li>
                        <li>
                            <a href="#">Blog details</a>
                        </li>
                        <li>
                            <a href="#">Privacy policy</a>
                        </li>
                    </ul>
                </nav>
                <div class="networks-header">
                    <box-icon name='youtube' type='logo' color='#fe6666' ></box-icon>
                    <box-icon name='twitter' type='logo' color='#fe6666' ></box-icon>
                </div>
            </header>
            <!-- Content - Main -->
            <div class="main">
                <!-- Section 1 -->
                <section class="section1">
                    <div class="about">
                        <h1>About us</h1>
                        <p>Home/about</p>
                    </div>
                    <div class="container-about">
                        <div class="about-digistic">
                            <div class="description-about">
                                <h1>About digistic's NFT collection</h1>
                                <p>
                                    Donec efficitur vel risus vel pharetra. Mauris consequat vitae augue vitae porttitor. Nam viverra imperdiet libero at faucibus.
                                </p>
                                <p>
                                    Nam nisi neque, ultricies ut erat in, dictum hendrerit augue. Suspendisse potenti. Proin purus massa, vestibulum non turpis dignissi.
                                </p>
                                <a class="more" href="#">More</a>
                            </div>
                            <div class="img-about">
                                <img class="person-about" src="../assets/img/about.png" alt="about">
                                <img class="blue-about" src="../assets/img/about-1.png" alt="about-1">
                                <img class="pink-about" src="../assets/img/about-2.png" alt="about-2">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section 2 -->
                 <section class="section-2">
                    <div class="content">
                        <div class="card-content">
                            <img class="img-1" src="../assets/img/content.png" alt="content">
                            <div class="title-content">
                                <h3>12.1k</h3>
                                <span class="max">+</span>
                            </div>
                            <h5>Unique assests</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, praesentium!
                            </p>
                        </div>
                        <div class="card-content">
                            <img class="img-2" src="../assets/img/content-2.png" alt="content">
                            <div class="title-content">
                                <h3>500</h3>
                                <span>%</span>
                            </div>
                            <h5>Unique assests</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, praesentium!
                            </p>
                        </div>
                        <div class="card-content">
                            <img class="img-3" src="../assets/img/content-3.png" alt="content">
                            <div class="title-content">
                                <span>$</span>
                                <h3>4b</h3>
                            </div>
                            <h5>Unique assests</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, praesentium!
                            </p>
                        </div>
                        <div class="card-content">
                            <img class="img-4" src="../assets/img/content-4.png" alt="content">
                            <div class="title-content">
                                <h3>150k</h3>
                                <span class="max">+</span>
                            </div>
                            <h5>Unique assests</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. At, praesentium!
                            </p>
                        </div>
                    </div>
                 </section>
                <!-- Section 3 -->
                <section class="section-3">
                    <div class="container-freedom">
                        <div class="img-freedom">
                            <img src="../assets/img/join.png" alt="join">
                            <img class="img-join one" src="../assets/img/join-1.png" alt="join-1">
                            <img class="img-join two" src="../assets/img/join-2.png" alt="join-2">
                            <img class="img-join three" src="../assets/img/join-3.png" alt="join-3">
                            <img class="img-join for" src="../assets/img/join-4.png" alt="join-4">
                        </div>
                        <div class="container-description-join">
                            <div class="description-join">
                                <div class="free">
                                    <box-icon name='check-shield' type='solid' color='#ff6666' ></box-icon>
                                    <p>
                                        Unlimited Freedom & Security
                                    </p>
                                </div>
                                <div class="free">
                                    <box-icon name='check-shield' type='solid' color='#ff6666' ></box-icon>
                                    <p>
                                        High Success Rate
                                    </p>
                                </div>
                                <div class="free">
                                    <box-icon name='check-shield' type='solid' color='#ff6666' ></box-icon>
                                    <p>
                                        Easily Integration of Wallet
                                    </p>
                                </div>
                                <div class="free">
                                    <box-icon name='check-shield' type='solid' color='#ff6666' ></box-icon>
                                    <p>
                                        Save Time Resources and much more
                                    </p>
                                </div>
                                <a href="#">join now</a>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section 4 -->
                <section class="section-4">
                    <div class="container-team">
                        <div class="description-team">
                            <h1>Meet the team</h1>
                            <p>
                                Etiam id dui luctus, rhoncus mi eget, ultrices orci. <br>Fusce ut aliquet purus. In laoreet ni
                            </p>
                        </div>
                        <div class="container-users">
                            <div class="card-team">
                                <div class="user">
                                    <img class="robert" src="../assets/img/robert.png" alt="robert">
                                </div>
                                <div class="description-user">
                                    <h5>Robert Long</h5>
                                    <p>
                                        Founder
                                    </p>
                                    <div class="network-user">
                                        <a href="#">
                                            <box-icon name='twitter' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                        <a href="#">
                                            <box-icon name='facebook' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                        <a href="#">
                                            <box-icon name='linkedin' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-team">
                                <div class="user">
                                    <img class="jones" src="../assets/img/jones.png" alt="jones">
                                </div>
                                <div class="description-user">
                                    <h5>Sophia Jones</h5>
                                    <p>
                                        Co-founder % CEO
                                    </p>
                                    <div class="network-user">
                                        <a href="#">
                                            <box-icon name='twitter' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                        <a href="#">
                                            <box-icon name='facebook' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                        <a href="#">
                                            <box-icon name='linkedin' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-team">
                                <div class="user">
                                    <img class="michell" src="../assets/img/michell.png" alt="michell">
                                </div>
                                <div class="description-user">
                                    <h5>Christopher Mitchell</h5>
                                    <p>
                                        Technical Head
                                    </p>
                                    <div class="network-user">
                                        <a href="#">
                                            <box-icon name='twitter' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                        <a href="#">
                                            <box-icon name='facebook' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                        <a href="#">
                                            <box-icon name='linkedin' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-team">
                                <div class="user">
                                    <img class="bastin" src="../assets/img/grayson.png" alt="grayson">
                                </div>
                                <div class="description-user">
                                    <h5>Grayson Bastin</h5>
                                    <p>
                                        Creative Head
                                    </p>
                                    <div class="network-user">
                                        <a href="#">
                                            <box-icon name='twitter' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                        <a href="#">
                                            <box-icon name='facebook' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                        <a href="#">
                                            <box-icon name='linkedin' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-team">
                                <div class="user">
                                    <img class="jennifer" src="../assets/img/jennifer.png" alt="jennifer">
                                </div>
                                <div class="description-user">
                                    <h5>Jennifer Jones</h5>
                                    <p>
                                        Developer
                                    </p>
                                    <div class="network-user">
                                        <a href="#">
                                            <box-icon name='twitter' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                        <a href="#">
                                            <box-icon name='facebook' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                        <a href="#">
                                            <box-icon name='linkedin' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-team">
                                <div class="user">
                                    <img class="nova" src="../assets/img/nova.png" alt="nova">
                                </div>
                                <div class="description-user">
                                    <h5>Nova Abbott</h5>
                                    <p>
                                        Graphic Designer
                                    </p>
                                    <div class="network-user">
                                        <a href="#">
                                            <box-icon name='twitter' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                        <a href="#">
                                            <box-icon name='facebook' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                        <a href="#">
                                            <box-icon name='linkedin' type='logo' color='#7c7e83' ></box-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Section 5 -->
                <div class="container-community">
                    <img class="community-1" src="../assets/img/commu.png" alt="commu">
                    <img class="community-2" src="../assets/img/commu-1.png" alt="commu-1">
                    <img class="community-3" src="../assets/img/commu-2.png" alt="commu-2">
                    <h1>Join our community</h1>
                    <p>
                        Etiam id dui luctus, rhoncus mi eget, ultrices orci <br>Fusce ut aliquet purus. In laoreet ni
                    </p>
                    <div class="buttons">
                        <a class="button-1" href="#">Join now</a>
                        <a class="button-2" href="#">Connect wallet</a>
                    </div>
                </div>
                <!-- Footer -->
                 <footer>
                    <div class="container-footer">
                        <div class="li">
                            <h4>Company</h4>
                            <ul>
                                <li>
                                    <a href="#">About company</a>
                                </li>
                                <li>
                                    <a href="#">Roadmap</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                                <li>
                                    <a href="#">FAQs</a>
                                </li>
                            </ul>
                        </div>
                        <div class="li">
                            <h4>Community</h4>
                            <ul>
                                <li>
                                    <a href="#">Designer</a>
                                </li>
                                <li>
                                    <a href="#">Artist</a>
                                </li>
                                <li>
                                    <a href="#">Investor</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                            </ul>
                        </div>
                        <div class="li">
                            <h4>Features</h4>
                            <ul>
                                <li>
                                    <a href="#">Activity</a>
                                </li>
                                <li>
                                    <a href="#">Connect wallet</a>
                                </li>
                                <li>
                                    <a href="#">Marketplace</a>
                                </li>
                                <li>
                                    <a href="#">Collection</a>
                                </li>
                                <li>
                                    <a href="#">Live auctions</a>
                                </li>
                            </ul>
                        </div>
                        <div class="li">
                            <h4>Legal</h4>
                            <ul>
                                <li>
                                    <a href="#">Terms of Use</a>
                                </li>
                                <li>
                                    <a href="#">Privacy policy</a>
                                </li>
                                <li>
                                    <a href="#">Legal notice</a>
                                </li>
                                <li>
                                    <a href="#">Security policy</a>
                                </li>
                                <li>
                                    <a href="#">Cookie settings</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="copy">
                        <div class="description-copy">
                            <img src="../assets/img/logo-footer.png" alt="logo-footer">
                            <p>
                                © Copyright 2025 Digistic | Design by Luis David Gil All rights reserved.
                            </p>
                        </div>
                        <div class="network-footer">
                            <a href="#">
                                <box-icon name='twitter' type='logo' color='#7c7e83' ></box-icon>
                            </a>
                            <a href="#">
                                <box-icon name='facebook' type='logo' color='#7c7e83' ></box-icon>
                            </a>
                            <a href="#">
                                <box-icon name='linkedin' type='logo' color='#7c7e83' ></box-icon>
                            </a>
                            <a href="#">
                                <box-icon name='youtube' type='logo' color='#7c7e83' ></box-icon>
                            </a>
                        </div>
                    </div>
                 </footer>
            </div>
        </div>




        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <!-- ScrollReveal  -->
        <script src="https://unpkg.com/scrollreveal"></script>
    </body>
</html>